html {
    font-family: "Helvetice", sans-serif;
    line-height: 1.5;
}

h2 {
    font-family: 'Gerogia', serif;
}

section{
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
}

section article{
    flex: 0 0 200px;
}